src/main/resources/school/school.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 	
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:gml="http://www.opengis.net/gml/3.2"
    elementFormDefault="qualified">
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>

    <!-- Base complexType for a person with name and surname -->
    <xs:complexType name="person">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="surname" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- teacher complexType extending person with a role and an assigned classroom -->
    <xs:complexType name="teacher">
        <xs:complexContent>
            <xs:extension base="person">
                <xs:sequence>
                    <xs:element name="role" type="teacherrole"/>
                    <xs:element name="assignedclassroomid" type="xs:int"/> <!-- Assigned classroom ID -->
                </xs:sequence>
                <xs:attribute name="dbid" type="xs:long"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Enumeration for teacher roles -->
    <xs:simpleType name="teacherrole">
        <xs:restriction base="xs:string">
            <xs:enumeration value="math"/>
            <xs:enumeration value="german"/>
            <xs:enumeration value="english"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- student complexType extending person with an assigned classroom -->
    <xs:complexType name="student">
        <xs:complexContent>
            <xs:extension base="person">
                <xs:sequence>
                    <xs:element name="assignedclassroomid" type="xs:int"/>
                </xs:sequence>
                <xs:attribute name="dbid" type="xs:long"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Classroom complexType without a list of teachers -->
    <xs:complexType name="classroom">
        <xs:sequence>
            <xs:element name="classroomid" type="xs:int"/>
        </xs:sequence>
        <xs:attribute name="dbid" type="xs:long"/>
    </xs:complexType>

    <!-- Abstract ComplexType -->
    <xs:complexType name="AbstractAIXMPropertyType">
        <xs:attribute name="nilReason" type="gml:NilReasonEnumeration"/>
    </xs:complexType>

    <!-- AixmPointType extending gml:PointType with horizontalAccuracy and annotation -->
	<xs:element name="Point" type="PointType" substitutionGroup="gml:Point"/>
	<xs:complexType name="PointType">
		<xs:complexContent>
			<xs:extension base="gml:PointType">
				<xs:sequence>
					<xs:group ref="AixmPointPropertyGroup"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:group name="AixmPointPropertyGroup">
		<xs:sequence>
			<xs:element name="horizontalAccuracy" type="xs:long" nillable="true" minOccurs="0"/>
			<xs:element name="annotation" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="AixmPointPropertyType">
		<xs:complexContent>
            <xs:extension base="AbstractAIXMPropertyType">
				<xs:sequence>
					<!-- <xs:element ref="Point"/> -->
                    <xs:element name="point" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

    <!-- ElevatedPoint complexType extending Point with elevation, geoidUndulation, verticalDatum and verticalAccuracy -->
	<xs:element name="ElevatedPoint" type="ElevatedPointType" substitutionGroup="Point"/>
	<xs:complexType name="ElevatedPointType">
		<xs:complexContent>
			<xs:extension base="PointType">
				<xs:sequence>
					<xs:group ref="AixmElevatedPointPropertyGroup"/>
					<xs:element name="extension" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<!-- <xs:choice>
								<xs:element ref="aixm:AbstractElevatedPointExtension"/>
							</xs:choice> -->
							<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:group name="AixmElevatedPointPropertyGroup">
		<xs:sequence>
			<xs:element name="elevation" type="xs:long" nillable="true" minOccurs="0"/>
			<xs:element name="geoidUndulation" type="xs:long" nillable="true" minOccurs="0"/>
			<xs:element name="verticalDatum" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="verticalAccuracy" type="xs:long" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="ElevatedPointPropertyType">
		<xs:complexContent>
			<xs:extension base="AbstractAIXMPropertyType">
				<xs:sequence>
					<!-- <xs:element ref="aixm:ElevatedPoint"/> -->
                    <xs:element name="elevatedPoint" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

    <!-- Curve complexType extending gml:CurveType with horizontalAccuracy and annotation -->
    <xs:element name="Curve" type="CurveType" substitutionGroup="gml:Curve"/>
	<xs:complexType name="CurveType">
		<xs:complexContent>
			<xs:extension base="gml:CurveType">
				<xs:sequence>
					<xs:group ref="AixmCurvePropertyGroup"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:group name="AixmCurvePropertyGroup">
		<xs:sequence>
			<xs:element name="horizontalAccuracy" type="xs:long" nillable="true" minOccurs="0"/>
			<xs:element name="annotation" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="AixmCurvePropertyType">
		<xs:complexContent>
			<xs:extension base="AbstractAIXMPropertyType">
				<xs:sequence>
					<!-- <xs:element ref="aixm:Curve"/> -->
                    <xs:element name="curve" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

    <!-- ElevatedCurve complexType extending Curve with elevation, geoidUndulation, verticalDatum and verticalAccuracy -->
	<xs:element name="ElevatedCurve" type="ElevatedCurveType" substitutionGroup="Curve"/>
	<xs:complexType name="ElevatedCurveType">
		<xs:complexContent>
			<xs:extension base="CurveType">
				<xs:sequence>
					<xs:group ref="AixmElevatedCurvePropertyGroup"/>
					<xs:element name="extension" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<!-- <xs:choice>
								<xs:element ref="aixm:AbstractElevatedCurveExtension"/>
							</xs:choice> -->
							<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:group name="AixmElevatedCurvePropertyGroup">
		<xs:sequence>
			<xs:element name="elevation" type="xs:long" nillable="true" minOccurs="0"/>
			<xs:element name="geoidUndulation" type="xs:long" nillable="true" minOccurs="0"/>
			<xs:element name="verticalDatum" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="verticalAccuracy" type="xs:long" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="ElevatedCurvePropertyType">
		<xs:complexContent>
			<xs:extension base="AbstractAIXMPropertyType">
				<xs:sequence>
					<!-- <xs:element ref="aixm:ElevatedCurve"/> -->
                    <xs:element name="elevatedCurve" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Surface complexType extending gml:SurfaceType with horizontalAccuracy and annotation -->
	<!-- <element name="Surface" type="aixm:SurfaceType" substitutionGroup="gml:Surface"/>
	<complexType name="SurfaceType">
		<complexContent>
			<extension base="gml:SurfaceType">
				<sequence>
					<group ref="aixm:SurfacePropertyGroup"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<group name="SurfacePropertyGroup">
		<sequence>
			<element name="horizontalAccuracy" type="aixm:ValDistanceType" nillable="true" minOccurs="0"/>
			<element name="annotation" type="aixm:NotePropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</group>
	<complexType name="SurfacePropertyType">
		<complexContent>
			<extension base="aixm:AbstractAIXMPropertyType">
				<sequence>
					<element ref="aixm:Surface"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType> -->

	<!-- ElevatedSurface complexType extending Surface with elevation, geoidUndulation, verticalDatum and verticalAccuracy -->
	<!-- <element name="ElevatedSurface" type="aixm:ElevatedSurfaceType" substitutionGroup="aixm:Surface"/>
	<complexType name="ElevatedSurfaceType">
		<complexContent>
			<extension base="aixm:SurfaceType">
				<sequence>
					<group ref="aixm:ElevatedSurfacePropertyGroup"/>
					<element name="extension" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<choice>
								<element ref="aixm:AbstractElevatedSurfaceExtension"/>
							</choice>
							<attributeGroup ref="gml:OwnershipAttributeGroup"/>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<group name="ElevatedSurfacePropertyGroup">
		<sequence>
			<element name="elevation" type="aixm:ValDistanceVerticalType" nillable="true" minOccurs="0"/>
			<element name="geoidUndulation" type="aixm:ValDistanceSignedType" nillable="true" minOccurs="0"/>
			<element name="verticalDatum" type="aixm:CodeVerticalDatumType" nillable="true" minOccurs="0"/>
			<element name="verticalAccuracy" type="aixm:ValDistanceType" nillable="true" minOccurs="0"/>
		</sequence>
	</group>
	<complexType name="ElevatedSurfacePropertyType">
		<complexContent>
			<extension base="aixm:AbstractAIXMPropertyType">
				<sequence>
					<element ref="aixm:ElevatedSurface"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="AbstractElevatedSurfaceExtension" type="aixm:AbstractExtensionType" abstract="true" substitutionGroup="aixm:AbstractExtension"/> -->


    <xs:complexType name="school">
        <xs:sequence>
            <xs:element name="aixmPoint" type="AixmPointPropertyType"/>
            <xs:element name="aixmElevatedPoint" type="ElevatedPointPropertyType"/>
            <xs:element name="aixmCurve" type="AixmCurvePropertyType"/>
            <xs:element name="aixmElevatedCurve" type="AixmCurvePropertyType"/>
            <xs:element name="geomPoint" type="xs:string" />
            <xs:element name="geomCurve" type="xs:string" />
            <xs:element name="geomSurface" type="xs:string"/>
            <!-- <xs:element name="geomgeom" type="gml:PointType"/> -->
            <xs:element name="classroom" type="classroom" maxOccurs="unbounded"/>
            <xs:element name="student" type="student" maxOccurs="unbounded"/>
            <xs:element name="teacher" type="teacher" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="dbid" type="xs:long"/>
    </xs:complexType>

    <!-- Root element School -->
    <xs:element name="school" type="school">

    </xs:element>
</xs:schema>

<!-- <?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:gml="http://www.opengis.net/gml/3.2"
    elementFormDefault="qualified">
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<xs:complexType name="HouseType">
		<xs:complexContent>
			<xs:extension base="gml:SurfaceType">
				<xs:attribute name="housename" type="xs:string" use="required"/>
                <xs:attribute name="dbid" type="xs:long"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StreetType">
		<xs:complexContent>
			<xs:extension base="gml:LineStringType">
				<xs:attribute name="streetname" type="xs:string" use="required"/>
                <xs:attribute name="dbid" type="xs:long"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PoleType">
		<xs:complexContent>
			<xs:extension base="gml:PointType">
				<xs:attribute name="polename" type="xs:string" use="required"/>
                <xs:attribute name="dbid" type="xs:long"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

    <xs:complexType name="CityType">
        <xs:sequence>
            <xs:element name="House" type="HouseType" maxOccurs="unbounded"/>
            <xs:element name="Street" type="StreetType" maxOccurs="unbounded"/>
            <xs:element name="Pole" type="PoleType" maxOccurs="unbounded"/>
        </xs:sequence>
		<xs:attribute name="cityname" type="xs:string" use="required"/>
        <xs:attribute name="dbid" type="xs:long"/>
    </xs:complexType>

	<xs:complexType name="CountryType">
		<xs:sequence>
			<xs:element name="City" type="CityType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
    <xs:element name="Country" type="CountryType"/>
</xs:schema> -->
