src/main/resources/school/school.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:gml="http://www.opengis.net/gml/3.2"
    targetNamespace="http://www.example.com/city"
	xmlns="http://www.example.com/city"
    elementFormDefault="qualified">
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<!-- Define the root element city with a name attribute -->
	<xs:complexType name="HouseType">
		<xs:complexContent>
			<xs:extension base="gml:SurfaceType">
				<xs:attribute name="housename" type="xs:string" use="required"/>
                <xs:attribute name="dbid" type="xs:long"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Define Street as an extension of gml:LineString -->
	<xs:complexType name="StreetType">
		<xs:complexContent>
			<xs:extension base="gml:LineStringType">
				<xs:attribute name="streetname" type="xs:string" use="required"/>
                <xs:attribute name="dbid" type="xs:long"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Define Pole as an extension of gml:Point -->
	<xs:complexType name="PoleType">
		<xs:complexContent>
			<xs:extension base="gml:PointType">
				<xs:attribute name="polename" type="xs:string" use="required"/>
                <xs:attribute name="dbid" type="xs:long"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

    <xs:complexType name="CityType">
        <xs:sequence>
            <!-- One list of houses (HouseType) -->
            <xs:element name="houses" type="HouseType" maxOccurs="unbounded"/>
            
            <!-- One list of streets (StreetType) -->
            <xs:element name="streets" type="StreetType" maxOccurs="unbounded"/>
            
            <!-- One list of poles (PoleType) -->
            <xs:element name="poles" type="PoleType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="cityname" type="xs:string" use="required"/>
        <xs:attribute name="dbid" type="xs:long"/>
    </xs:complexType>
    <!-- Define the city element as a reference to CityType -->
    <xs:element name="city" type="CityType"/>
</xs:schema>
